.banner {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 20px;
}

.dashboard {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 20px;
}

.form-check-input {
  margin-right: 10px;
}


.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;

}